@use '../variables'
@use '../mixins'

footer
    background-color: variables.$bg4
    padding: 50px 150px
    height: 350px
    display: flex
    align-items: center
    justify-content: left

footer img
    height: 150px
    margin-right: 50px
footer div
    width: 100%
    display: flex
    margin: 0 auto
    gap: 30px

footer div h3, h2
    font-size: 1rem

footer h3
    padding-right: 30px
    border-right: 1px solid black

footer h2
    color: green