@use '../variables'
@use '../mixins'

// Left bar
#left_nav
    z-index: 1000
    background-color: variables.$gray4
    padding: 60px 30px
    display: flex
    flex-direction: column
    overflow: hidden
    justify-content: center
    align-items: center
    width: 260px
    color: white
    border-right: 10px solid white
    gap: 30px

#left_nav #left_logo
    width: 100%
    transition: .3s
    cursor: pointer
    filter: brightness(100)

#left_nav #left_logo:hover
    width: 100%
    @include mixins.btn-hover
    
#left_nav #left_links
    height: 100%
    display: flex
    width: 100%
    gap: 5px
    align-items: center
    flex-direction: column
    justify-content: center
    list-style: none
    
#left_nav #left_links li
    font-size: 1.2rem
    transition: .3s
    cursor: pointer

#left_nav #left_links li:hover
    @include mixins.btn-hover
    letter-spacing: 1px

#left_nav #left_social
    display: flex
    width: 100%
    gap: 10px
    font-size: 1.2rem
    align-items: center
    flex-direction: column
    justify-content: center
    list-style: none
#left_nav #left_social li
    cursor: pointer
    transition: .3s
#left_nav #left_social li:hover
    @include mixins.btn-hover



// Top bar
#top_nav
    height: 50px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px 50px
    position: sticky
    top: 0
    background-color: white
    z-index: 1000
#top_nav #top_logo
    height: 80%
#top_nav ul
    list-style: none
    display: flex
    gap: 20px
#top_nav li
    cursor: pointer
    transition: .3s
#top_nav li:hover
    letter-spacing: 1px
    @include mixins.btn-hover
#top_nav svg
    cursor: pointer
    font-size: 1.3rem
    margin-top: 10px

#top_nav div
    transition: .3s
#top_nav div:hover
    @include mixins.btn-hover
