@use '../variables'
@use '../mixins'

#perguntas
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    height: 500px
#perguntas h3
    color: white
    text-align: center
    letter-spacing: 2px
    font-weight: 300
    font-size: 2rem
    margin-bottom: 20px
#perguntas .accordion
    margin: 0 auto
    width: 70%