@use './variables'
@use './mixins'

body
    height: 100%
    overflow-x: hidden

#sections
    background-color: variables.$gray4

#sections #left_simbol
    position: absolute
    top: 1700px
    left: -50%
    filter: invert(1)
    user-select: none
    pointer-events: none
    height: 550px
    
#sections #third_simbol
    position: absolute
    top: 4930px
    right: -50%
    z-index: 10000
    filter: brightness(100)
    user-select: none
    pointer-events: none
    height: 450px

@media (max-width: 1768px)
    
    #sections #left_simbol
        position: absolute
        top: 1150px
        left: -30%
        filter: invert(1)
        user-select: none
        pointer-events: none
        height: 300px
        
    #sections #third_simbol
        position: absolute
        top: 3500px
        right: -50%
        filter: brightness(100)
        user-select: none
        pointer-events: none
        height: 400px

@media (min-width: 1024px) and (max-width: 1359px)

    #sections #left_simbol
        position: absolute
        top: 1350px
        left: -50%
        filter: invert(1)
        user-select: none
        pointer-events: none
        height: 300px
        
    #sections #third_simbol
        position: absolute
        top: 2900px
        right: -65%
        filter: brightness(100)
        user-select: none
        pointer-events: none
        height: 350px

// Phone
@media (max-width: 768px)

    #sections #left_simbol
        position: absolute
        top: 2095px
        left: -110%
        filter: invert(1)
        user-select: none
        pointer-events: none
        z-index: 10000
        height: 200px
        
    #sections #third_simbol
        position: absolute
        top: 5150px
        left: 75%
        z-index: 10
        filter: brightness(100)
        user-select: none
        pointer-events: none
        height: 200px